<label for="preg" class="rem">Pregunta:</label>
<input id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" type="text"> <p>
<label for="resp" class="rem">Respuesta:</label>
<input id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" type="text"> </p><p>
<label for="tema" class="rem">Tema:</label>
<select id="tema" name="quiz[tema]">
  <option value="otro" selected="true">Otro</option>
  <option value="humanidades">Humanidades</option>
  <option value="ocio">Ocio</option>
  <option value="ciencia">Ciencia</option>
  <option value="tecnologia">Tecnología</option>
</select> </p><p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input value="Salvar" type="submit">
</p>
