Buscador de preguntas
<form method="get" action="/quizes">
<p>
<input name="search" value="Texto a buscar" type="text">
<input value="Enviar" type="submit">
</p>
</form>
<table>
	<% var i; for (i=0; i < quizes.length; i++) { %>
	<tr>
		<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		<td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
	</tr>
	<% } %>
</table><p>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
